body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.brand-logo img{
    width: 130px!important;
}

.image {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
}

.materialboxedCustom {
    width: 40px;
    margin: auto;
}


.image-profile {
    width: 40px;
    vertical-align: middle;
    margin-right: 5px;
}

#profile-dropdown li:not(.divider) {
    padding-top: 10px;
    padding-bottom: 10px;

}

.user-details {
    padding-bottom: 90px !important;
}

table {
    margin-top: 30px;
}

.slider{
    width: 400px;
}
